@import '../core/definitions';
@import '../core/media';
@import '../core/base';
@import '../core/mixin';

.header {
    // padding-top: 15px;
    background-color: $ColorPrincipal;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    &__container-list {
        width: 180px;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        &__item {
            .link {
                color: white;
                @include text();

                &:hover {
                    color: $ColorContrast;
                }
            }
        }
    }
}