@import '../core/definitions';
@import '../core/media';
@import '../core/base';
@import '../core/mixin';

.mainInfo {
    display: flex;
    flex-direction: column-reverse;
    .blockInfo {
        display: block;
        &__occupation {
            letter-spacing: .1rem;
            margin-top: 20px;
            display: block;
            text-align: center;
            font-weight: bold;
            color: darken($color: $ColorContrast, $amount: 10);
            &::before {
                content: '------- ';
            }
            &::after {
                content: ' -------';
            }
        }
        &__Names {
            font-family: $FirstFont;
            margin-top: 20px;
            display: block;
            text-align: center;
            .lastName {
                color: $ColorContrast;
                &::before {
                    content: " ";
                }
            }
        }
        &__description {
            box-sizing: border-box;
            padding: 0 5px;
            margin-top: 20px;
            display: block;
            text-align: center;
        }
        &__buttons {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content:space-evenly;
            min-height: 40px;
            .btn a {
                @include btn();
            }
        }
        &__socials {
            margin-top: 30px;
            display: block;
            .list-icons {
                display: flex;
                align-items: center;
                justify-content:space-evenly;
                flex-direction: row;
                &__link {
                    @include ht2();
                    @include aa(40px, 40px);
                    fill: white;
                    border: 1px dashed $ColorContrast;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    svg {
                        display: block;
                        @include aa(20px);
                    }
                    &:hover {
                        background-color: $ColorContrast;
                        fill: $ColorPrincipal;
                    }
                }
            }
        }
    }
    .blockImage {
        text-align: center;
        overflow: hidden;
        &__container {
            margin: 0 auto;
            @include aa(150px, 150px);
            border-radius: 80%;
            overflow: hidden;
            img {
                @include aa(150px);
            }
        }
    }
}