// COLORS
$ColorPrincipal: #10112F;
$ColorContrast: #F3BC17;

// FONTS
$FirstFont: 'Oswald', sans-serif;
$SecondFont: 'Roboto', sans-serif;

// $min_width: 320px;
// $max_width: 1200px;
$min_font: 16px;
$max_font: 34px;

//BREAKPOINTS
$brp_desktop_large  : 1920;
$brp_desktop        : 1200;
$brp_desktop_2      : 1087;
$brp_tablet         : 1024;
$brp_portrait_tab   : 960;
$brp_movil          : 628;
$brp_portrait_movil : 545;
$brp_landscape_m    : 480;
$brp_portrait_m     : 320;