@import './core/definitions';
@import './core/fonts';
@import './core/media';
@import './core/base';
@import './core/mixin';

body {
    font-family: $SecondFont;
    margin: 0;
    background-color: $ColorPrincipal;
    color: white;
    line-height: normal;
    font-size: 14px;
}
h1 {
    font-size: 34px;
}

.title-services {
    color: $ColorContrast;
    text-align: center;
}
.subtitle-services {
    text-align: center;
    font-size: szrem(36);
}
