@import './core/definitions';
@import './core/fonts';
@import './core/media';
@import './core/base';
@import './core/mixin';

body {
    font-family: $SecondFont;
    margin: 0;
    background-color: $ColorPrincipal;
    color: white;
    line-height: normal;
    font-size: 14px;
}
h1 {
    font-size: 34px;
}

hr {
    border: .5px inset darken($color: $ColorContrast, $amount: 40);
}

.title-section {
    color: $ColorContrast;
    text-align: center;
}
.subtitle-section {
    @include text(center);
    @include font(szrem(24), bold);
    letter-spacing: 0.5px;
    margin: 10px 0;
}
.copyright {
    text-align: center;
    font-size: szrem(11);
    color: darken($color: #ffffff, $amount: 45);
}
