@import './core/definitions';
@import './core/media';
@import './core/base';
@import './core/mixin';

.container {
    max-width: 100vw;
    overflow: hidden;
    &__fluid {
        width: 320px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 15px 25px;
        box-sizing: border-box;
    }
}
section[class~='odd'] {
    background-color: darken($color: $ColorPrincipal, $amount: 2);
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-justify-stretch {
    justify-content: space-around;
}
.flex-justify-between {
    justify-content: space-between;
}

.grid {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
}